@font-face{
    font-family:'DIN Round Web';
    src:url('./fonts/DINRoundWeb.eot');
    src:url('./fonts/DINRoundWeb.eot?#iefix') format("embedded-opentype"),url('./fonts/DINRoundWeb.ttf') format("truetype")
}

html, body {
  font-family: "DIN Round Web";
}

body {
  padding: 1rem 0;
}

html {
  font-size: 1rem;
}

/* Custom data styles */

.bus-info-header {
  background-color: #B70062;
  color: white;
}

.bus-header-subtitle {
  font-size: 0.9rem;
}

.bus-info-col {
  line-height: 1.5rem;
  vertical-align: middle;
}

.bus-attribution-footer {
  font-size: 0.8rem;
}

.jumbotron {
  border-radius: 0.25rem;
}

.list-group div:nth-child(2) {
  border-bottom: none;
}

.list-group div:nth-child(3) {
  border-top: none;
}

/* Loading bar */

.loader-padding {
  height: 4px;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #361163;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}